.container{
    display: grid;
    grid-template-columns: 18px 1fr;
    align-items: center;
    column-gap: 16px;
    row-gap: 8px;
    padding: 0px;
    margin: 0px;
    border: none;
    margin: 16px 0px;
}

.message{
    color: var(--color-grey-900, #2A4144);
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin: 0px;
}

.message > span{
    color: var(--color-green-600, #0C7D69);
}

.checkbox{
    width: 18px;
    height: 18px;
    border: 2px solid var(--color-grey-500, #86A2A5);
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.checkbox > input{
    display: none;
}

.checkbox > img{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 0;
    margin: auto;
}

.errorMessage{
    color: var(--color-red, #D73C3C);
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    grid-column: 1/3;
    grid-row: 2/3;
}